.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-white-text {
  color: $color-white;
}

.u-flex {
  display: flex;
}

.u-text-small {
  font-size: 1.6rem;
}

.u-visually-hidden {
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.u-hide {
  display: none;
}

.u-overflow-hide {
  overflow: hidden;
}