label, .label {
    font-size: 1.6rem;
    line-height: 150%;
}
  
input, select {
    width: 100%;
    display: block;
    border: 1px solid $color-black-light;
    padding: $spacer-xsmall + 2 $gutter-small $spacer-xsmall - 2;
    height: $form-element-height;
    font-size: 3.2rem;
    text-transform: uppercase;
    background: rgba($color-black-light, 0.3);
    color: $color-white;
    border-radius: 0;
    appearance: none;
}

select {
    padding: $spacer-xsmall - 2 $gutter-small $spacer-xsmall + 2;

    &::-ms-expand {
        display: none;
    }
}
  
button {
    cursor: pointer;
}

::placeholder {
    color: $color-white;
}