//Spacer - Vertical Spacing
$spacer: 32px;
$spacer-xxlarge: $spacer * 8;
$spacer-xlarge: $spacer * 4;
$spacer-large: $spacer * 2;
$spacer-small: $spacer / 2;
$spacer-xsmall: $spacer / 4;

//Gutter - Horizontal Spacing
$gutter: 32px;
$gutter-large: $gutter * 2;
$gutter-small: $gutter / 2;
$gutter-xsmall: $gutter / 4;